.modal-succ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    p{
        font-size: 20px;
        color: rgb(7 168 137);
        font-weight: 550;
        margin: 25px 0;
    }
}