@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.bg-nav{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 0 30px 0 10px;
    background-color: #ffffffad;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand p{
    margin: 0 0 0 15px;
    font-size: 25px;
    display: block;
    font-family: "Zen Dots", cursive;
    letter-spacing: 0.2em;
}
.navbar-brand img{
    width: 70px;
    margin-left: 40px;
    animation: scale 3s infinite ;
}

@keyframes scale {
    0%   {
        transform: scale(1);
    }
    25%  {
        transform: scale(1.1);
    }
    50%  {
        transform: scale(1);
    }
    75%  {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
  }
.offcanvas{
    transform: translateX(-100%);
}
.offcanvas.offcanvas-end{
    color: #fff;
    width: 300px;
    right: auto;
    left: 0;
}

.btn-close2{
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 5px;
}

.btn-close2 i{
    color: #fff;
    font-size: 25px;;
}
.offcanvas-title{
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

button:focus{
    outline: none;
    box-shadow: none;
}

.offcanvas-body{
    padding: 0;
}

.offcanvas-body ul{
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}
.offcanvas-body ul li{
    padding: 5px 30px;
    text-align: left;
    color: #fff;
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.offcanvas-body ul li:last-of-type{
    border: 0;
    margin: 10px 0;
}
.offcanvas-body ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    position: relative;
}
.offcanvas-body ul li a i{
    left: -100%;
    transition: all .3s ease;
    position: relative;
}
.offcanvas-body ul li.nav-item.active,
.offcanvas-body ul li.nav-item:hover{
    padding-left: 40px;
}
.offcanvas-body ul li.nav-item.active a i,
.offcanvas-body ul li.nav-item:hover a i{
    left: -2px;
}
.date{
    margin:0;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    align-items: center;
}

.nav-top{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-logout{
    background: #ffbd84;
    background: -moz-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: -webkit-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: linear-gradient(to right,#ffbd84 0,#ff1f8e 100%);
    -webkit-box-shadow: 0 10px 15px 0 rgb(175 0 87 / 20%);
    box-shadow: 0 10px 15px 0 rgb(175 0 87 / 20%);
    position: relative;
    border: none;
    outline: 0;
    padding: 0 32px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    color: #fff;
}
.btn-logout .circle{
    background: rgba(255,255,255,.2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;
        right: -130px;
        width: 180px;
        height: 180px;
        transition: all .3s ease;
    }
    .btn-logout:hover .circle{
        top: -10%;
        right: -100px;
    }

    .navbar-toggler{
        border-color: black !important;
    }

  .translate button{
    background-color: transparent;
    border: 0;
  }
  .translate button img{
    width: 30px;
  }